.container {
    display: flex;
}

.dashboard{
  height: 100vh;
  overflow: hidden;
  flex: 1;
}

/* dashboard.css */
.card-animation-enter {
    opacity: 0;
    transform: translateX(100%);
  }
  
  .card-animation-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }
  
  .card-animation-exit {
    opacity: 1;
    transform: translateX(0);
  }
  
  .card-animation-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 400ms, transform 300ms;
  }

  /* dashboard.css */
.card-slider {
display: flex;
transition: transform 0.3s ease-in-out;
}

.card {
flex: 0 0 auto;
width: 30%; /* Adjust the width based on your card's size */
margin-right: 10px; /* Adjust the margin for spacing between cards */
transition: transform 0.3s ease-in-out;
}
  
  